<!DOCTYPE html>
<html>
<head>
    <title>Clasificador de Insectos</title>
    <script>
        function clasificarInsecto(event) {
            event.preventDefault();
            const AST = document.getElementById('AST').value;
            const CHE = document.getElementById('CHE').value;
            const ALP = document.getElementById('ALP').value;
            const ALT = document.getElementById('ALT').value;
            const ALL = document.getElementById('ALL').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `AST=${AST}&CHE=${CHE}&ALP=${ALP}&ALT=${ALT}&ALL=${ALL}`,
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'El CO2 emitido es ' + data.categoria;
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Prediccion de generacion de CO2</h1>
    <form id="formulario" onsubmit="clasificarInsecto(event)">

        <label for="AST">Engine Size(L):</label>
        <input type="text" id="AST" name="AST"><br><br>

        <label for="CHE">Cylinders:</label>
        <input type="text" id="CHE" name="CHE"><br><br>

        <label for="ALP">Fuel Consumption Hwy (L/100 km):</label>
        <input type="text" id="ALP" name="ALP"><br><br>

        <label for="ALT">Fuel Consumption Comb (L/100 km):</label>
        <input type="text" id="ALT" name="ALT"><br><br>

        <label for="ALL">Fuel Consumption Comb (mpg):</label>
        <input type="text" id="ALL" name="ALL"><br><br>

        <input type="submit" value="Enviar">
    </form>
    <p id="resultado"></p>
</body>
</html>
